<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,62},{1,1}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,452},{169,205}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,42},{169,205}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom11.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,623},{189,199}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,45},{189,199}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom12.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,848},{191,171}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,59},{191,171}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{339,277}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{339,277}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom14.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,233},{321,273}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{321,273}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom15.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{337,259}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{337,259}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom16.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{329,229}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{329,229}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom17.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,856},{161,157}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,59},{161,157}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom18.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,856},{153,153}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{153,153}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,62},{1,1}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{161,187}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,51},{161,187}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,645},{191,201}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,44},{191,201}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,651},{199,203}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{199,203}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{209,195}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{209,195}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{205,171}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,59},{205,171}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,263},{211,187}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,51},{211,187}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom8.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,452},{209,191}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{209,191}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>boom9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{203,203}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{203,203}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b8d8937f3d9df650999e87b398d7ea8$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
