<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die11.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,122},{94,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,115}}</string>
                <key>sourceSize</key>
                <string>{94,115}</string>
            </dict>
            <key>die12.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,502},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>die13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{97,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,61}}</string>
                <key>sourceSize</key>
                <string>{97,61}</string>
            </dict>
            <key>die14.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,769},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>die15.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,261},{120,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,78}}</string>
                <key>sourceSize</key>
                <string>{120,78}</string>
            </dict>
            <key>die16.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,769},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>die17.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,261},{120,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,78}}</string>
                <key>sourceSize</key>
                <string>{120,78}</string>
            </dict>
            <key>die18.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,769},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>die19.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,261},{120,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,78}}</string>
                <key>sourceSize</key>
                <string>{120,78}</string>
            </dict>
            <key>run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,687},{125,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,117}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
            <key>run12.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,399},{106,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,120}}</string>
                <key>sourceSize</key>
                <string>{106,120}</string>
            </dict>
            <key>run13.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,135},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>run14.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,383},{113,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,117}}</string>
                <key>sourceSize</key>
                <string>{113,117}</string>
            </dict>
            <key>run15.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{107,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,118}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>run16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{134,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,119}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>run17.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,145},{135,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,117}}</string>
                <key>sourceSize</key>
                <string>{135,117}</string>
            </dict>
            <key>run21.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,560},{125,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,117}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
            <key>run22.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,527},{106,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,120}}</string>
                <key>sourceSize</key>
                <string>{106,120}</string>
            </dict>
            <key>run23.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,273},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>run24.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,521},{113,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,117}}</string>
                <key>sourceSize</key>
                <string>{113,117}</string>
            </dict>
            <key>run25.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,128},{107,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,118}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>run26.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{134,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,119}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>run27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{135,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,117}}</string>
                <key>sourceSize</key>
                <string>{135,117}</string>
            </dict>
            <key>run31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{87,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,140}}</string>
                <key>sourceSize</key>
                <string>{87,140}</string>
            </dict>
            <key>run32.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,282},{105,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,133}}</string>
                <key>sourceSize</key>
                <string>{105,133}</string>
            </dict>
            <key>run33.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,814},{99,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,125}}</string>
                <key>sourceSize</key>
                <string>{99,125}</string>
            </dict>
            <key>run34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,141}}</string>
                <key>sourceSize</key>
                <string>{102,141}</string>
            </dict>
            <key>run35.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,138},{99,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,133}}</string>
                <key>sourceSize</key>
                <string>{99,133}</string>
            </dict>
            <key>run36.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,826},{97,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,126}}</string>
                <key>sourceSize</key>
                <string>{97,126}</string>
            </dict>
            <key>run37.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{81,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,131}}</string>
                <key>sourceSize</key>
                <string>{81,131}</string>
            </dict>
            <key>run41.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,640},{87,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,108}}</string>
                <key>sourceSize</key>
                <string>{87,108}</string>
            </dict>
            <key>run42.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>run43.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{99,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,124}}</string>
                <key>sourceSize</key>
                <string>{99,124}</string>
            </dict>
            <key>run44.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,248},{102,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,116}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>run45.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,649},{99,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,118}}</string>
                <key>sourceSize</key>
                <string>{99,118}</string>
            </dict>
            <key>run46.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,925},{97,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,118}}</string>
                <key>sourceSize</key>
                <string>{97,118}</string>
            </dict>
            <key>run47.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,941},{81,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,124}}</string>
                <key>sourceSize</key>
                <string>{81,124}</string>
            </dict>
            <key>stand11.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,400},{53,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,125}}</string>
                <key>sourceSize</key>
                <string>{53,125}</string>
            </dict>
            <key>stand12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,273},{53,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,125}}</string>
                <key>sourceSize</key>
                <string>{53,125}</string>
            </dict>
            <key>stand13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,798},{53,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,125}}</string>
                <key>sourceSize</key>
                <string>{53,125}</string>
            </dict>
            <key>stand14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,671},{53,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,125}}</string>
                <key>sourceSize</key>
                <string>{53,125}</string>
            </dict>
            <key>stand21.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,798},{53,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,125}}</string>
                <key>sourceSize</key>
                <string>{53,125}</string>
            </dict>
            <key>stand22.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,544},{53,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,125}}</string>
                <key>sourceSize</key>
                <string>{53,125}</string>
            </dict>
            <key>stand23.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,671},{53,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,125}}</string>
                <key>sourceSize</key>
                <string>{53,125}</string>
            </dict>
            <key>stand24.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,671},{53,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,125}}</string>
                <key>sourceSize</key>
                <string>{53,125}</string>
            </dict>
            <key>stand31.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,417},{65,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,125}}</string>
                <key>sourceSize</key>
                <string>{65,125}</string>
            </dict>
            <key>stand32.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,954},{65,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,125}}</string>
                <key>sourceSize</key>
                <string>{65,125}</string>
            </dict>
            <key>stand33.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,417},{64,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,125}}</string>
                <key>sourceSize</key>
                <string>{64,125}</string>
            </dict>
            <key>stand34.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,544},{64,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,125}}</string>
                <key>sourceSize</key>
                <string>{64,125}</string>
            </dict>
            <key>stand41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{65,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,131}}</string>
                <key>sourceSize</key>
                <string>{65,131}</string>
            </dict>
            <key>stand42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{65,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,131}}</string>
                <key>sourceSize</key>
                <string>{65,131}</string>
            </dict>
            <key>stand43.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{65,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,131}}</string>
                <key>sourceSize</key>
                <string>{65,131}</string>
            </dict>
            <key>stand44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{63,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,131}}</string>
                <key>sourceSize</key>
                <string>{63,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3d0390991f148b99bd1b8c448b8dcf0$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
